/* swel rla  samir */


/* start features */
.features {
    padding-top: var(--sectionPaddingTop);
    padding-bottom: var(--sectionPaddingBottom);
    position: relative;
    background-color: white;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 40px;
    --boxColor: #f44036;
}

.features .box {

    text-align: center;
    border: 1px solid #ccc;
}

.features .box .imgHolder {
    position: relative;
    overflow: hidden;
}

.features .box .imgHolder::before {
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: var(--boxColor);
    opacity: 0.5;

}

.features .box .imgHolder::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--mainTransitionDuration);

}

.features .box .imgHolder:hover::after {
    border-width: 170px 500px 170px 0px;

}

.features .box .imgHolder img {
    max-width: 100%;
}

.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .box h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 5px;
    bottom: -20px;

    width: calc(100% - 30px);
}

.features .box p {
    line-height: 1.8;
    font-size: 20px;
    margin: 30px 0;
    padding: 20px;
    font-weight: bold;
    color: #777;
}

.features .box a {
    display: block;

    width: fit-content;
    margin: 0 auto 30px;
    font-size: 22px;

    padding: 10px 30px;
    border: 3.2px solid;
    border-radius: 6px;
    transition: var(--mainTransitionDuration);
    background: linear-gradient(to right, var(--boxColor) 50%, white 50%);
    background-size: 200% 200%;
    background-position: right bottom;
    color: var(--boxColor);

}

.features .box a:hover {
    background-position: left bottom;
    color: white;
}

.features .quality {

    --boxColor: #f44036;
}

.features .time {

    --boxColor: #009688;
}


.features .passion {

    --boxColor: #03a9f4;
}


/* end features */

/* start espace formation */

.statistiques {
    display: flex;
    background-color: white;
    padding: 5px;
}

.statistiques figure {
    display: flex;

    justify-content: center;
    gap: 10px;
    align-items: center;
    gap: 10px;
    width: 50%;

}

.statistiques figure:not(:last-child) {
    border-right: 2px solid black;
}

.statistiques figure img {
    --width: 40px;
    width: var(--width);
    height: var(--width);
    aspect-ratio: 1/1;
}

.card *:not(.controlContainer) {

    cursor: pointer;
}

/* end */

/* end espace formation */